/* Base de Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  cursor: url('/img/cursor.png') 16 16, auto;
  margin: 0;
  overflow-x: hidden; 
  height: 100%;
  scrollbar-width: thin; 
  scrollbar-color: #AAF8D4 #09090B !important;  
  height: 100%;
}




@font-face {
  font-family: 'pix'; 
  src: url('/fonts/30.woff2') format('woff2'), 
       url('/fonts/30.woff') format('woff'),   
       url('/fonts/30.ttf') format('truetype');
       font-display: swap;
}

@font-face {
  font-family: 'pixel'; 
  src: url('/fonts/Minecraft.woff2') format('woff2'), 
       url('/fonts/Minecraft.woff') format('woff'),   
       url('/fonts/Minecraft.ttf') format('truetype');
       font-display: swap;
}
@font-face {
  font-family: 'pixround'; 
  src: url('/fonts/pixround.woff2') format('woff2'), 
       url('/fonts/pixround.woff') format('woff'),   
       url('/fonts/pixround.ttf') format('truetype');
       font-display: swap;
}
@font-face {
  font-family: 'gba'; 
  src: url('/fonts/gba.woff2') format('woff2'), 
       url('/fonts/gba.woff') format('woff'),   
       url('/fonts/gba.ttf') format('truetype');
       font-display: swap;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes erase {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes rotateImage {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

@keyframes loader-animation {
  100% {
    background-size: 100%;
  }
}

.loader {
  width: 48vw;
  height: 1.5rem;
  border-radius: 20px;
   background: 
    repeating-linear-gradient(135deg, #4B0082  0 10px, #10B981 0 20px) 0/0% no-repeat,
    repeating-linear-gradient(135deg, #333  0 10px, #111 0 20px) 0/100%;
  animation: loader-animation 2s infinite;
}



/* HTML: <div class="loader"></div> */
/* .loader {
  width: 120px;
  height: 20px;
  border-radius: 20px;
  background:
   repeating-linear-gradient(135deg,#f03355 0 10px,#ffa516 0 20px) 0/0%   no-repeat,
   repeating-linear-gradient(135deg,#ddd    0 10px,#eee    0 20px) 0/100%;
  animation: l3 2s infinite;
}
@keyframes l3 {
    100% {background-size:100%}
} */

#monitor {
	background: linear-gradient(180deg, #3b3b3b, #262626);
	position: relative;
	border: 1px solid #222;
	margin: 5%;
	padding: 4%;
	border-radius: 7px;
	box-shadow: 
		0 0 5px rgba(0, 0, 0, 0.8),
		inset 0 0 2px rgba(255, 255, 255, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.monitor-frame{
	box-shadow: inset 0 0 7px rgba(23, 146, 106, 0.3),
		0 0 15px rgba(23, 146, 106, 0.4);
}

#monitorscreen {
	/* background-color: #0f5c48; */
	background-color: #0e513f;
	color: #b0f2d4;
	font-family: "Courier New", Courier, monospace;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 98%;
	border-radius: 12px;
  border: 30px solid transparent;
	/* border-image-source: url('/tvBorder.png');
    border-image-slice: 30%;
  border-image-width: 200px;
  border-image-repeat: round; */
 border-top: 30px inset #292524;
	border-left: 30px inset #44403C; 
	border-right: 30px inset #44403C; 
	border-bottom: 30px inset #222;
	text-shadow: 0 0 2px rgba(176, 242, 212, 0.8), 0 0 5px rgba(176, 242, 212, 0.6);
}


@media all and (min-width: 960px) {
	/* #monitor {
		-webkit-animation: tvflicker .2s infinite alternate; 
		-moz-animation:    tvflicker .5s infinite alternate; 
		-o-animation:      tvflicker .5s infinite alternate; 
		animation:         tvflicker .5s infinite alternate; 
	} */
  #monitorscreen {
		animation: tvScreenFlicker 6s infinite, tvflicker 3s infinite;
    animation-timing-function: ease-in-out;
  }
}

.screen-off {
  background-color: black !important;   /* Fondo negro */
  color: transparent !important;        /* Texto invisible */
  pointer-events: none !important;     
  animation: none !important; 
}

.screen-off * {
  animation: none !important;           /* Eliminar animaciones */
}

#offBtn {
    position: relative; 
    padding: 0;
}

.svg-icon {
    position: relative;
    transform: scale(1.15);
    display: block;
}


@keyframes scanline {
	0% {
		bottom: 100%;
	}
	80% {
		bottom: 100%;
	}
	100% {
		bottom: -20%;
	}
}


@keyframes tvflicker {
  0%   { box-shadow: 0 0 90px 0 rgba(23, 146, 106, 0.4); }
  20%  { box-shadow: 0 0 70px 0 rgba(23, 146, 106, 0.5); }
  40%  { box-shadow: 0 0 60px 0 rgba(23, 146, 106, 0.6); }
  60%  { box-shadow: 0 0 40px 0 rgba(23, 146, 106, 0.7); }
  80%  { box-shadow: 0 0 80px 0 rgba(23, 146, 106, 0.5); }
  100% { box-shadow: 0 0 100px 0 rgba(23, 146, 106, 0.4); }
}

@keyframes tvScreenFlicker {
  0%   { opacity: 0.7; }
  10%  { opacity: 0.75; }
  20%  { opacity: 0.78; }
  30%  { opacity: 0.82; }
  40%  { opacity: 0.76; }
  50%  { opacity: 0.79; }
  60%  { opacity: 0.85; }
  70%  { opacity: 0.72; }
  80%  { opacity: 0.75; }
  90%  { opacity: 0.78; }
  100% { opacity: 0.7; }
}

#prevBtn, 
#nextBtn {
  border: 2.5px outset #161616;
}
#offBtn {
  border: 4.5px outset #161616;
}

.giscus {
  max-height: 540px;
  overflow-y: auto;
  border-radius: 8px;
  scrollbar-width: thin !important; 
  scrollbar-color: #0f5c48 #09090B !important;  
}

.giscus-frame {
  max-height: 100%; 
  border: none;
}



html, body{
  cursor: url('/img/cursor.png') 16 16, auto;
  margin: 0;
  overflow-x: hidden; 
  height: 100%;
  scrollbar-width: thin; 
  scrollbar-color: #AAF8D4 #09090B !important;  
  height: 100%;
}
{
  
}

#monitorscreen {
	/* background-color: #0f5c48; */
	background-color: #0e513f;
	color: #b0f2d4;
	font-family: "Courier New", Courier, monospace;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 98%;
	border-radius: 12px;
  border: 30px solid transparent;
	/* border-image-source: url('/tvBorder.png');
    border-image-slice: 30%;
  border-image-width: 200px;
  border-image-repeat: round; */
 border-top: 30px inset #292524;
	border-left: 30px inset #44403C; 
	border-right: 30px inset #44403C; 
	border-bottom: 30px inset #222;
	text-shadow: 0 0 2px rgba(176, 242, 212, 0.8), 0 0 5px rgba(176, 242, 212, 0.6);
}


@media all and (min-width: 960px) {
	/* #monitor {
		-webkit-animation: tvflicker .2s infinite alternate; 
		-moz-animation:    tvflicker .5s infinite alternate; 
		-o-animation:      tvflicker .5s infinite alternate; 
		animation:         tvflicker .5s infinite alternate; 
	} */
  #monitorscreen {
		animation: tvScreenFlicker 6s infinite, tvflicker 3s infinite;
    animation-timing-function: ease-in-out;
  }
}

.screen-off {
  background-color: black !important;   /* Fondo negro */
  color: transparent !important;        /* Texto invisible */
  pointer-events: none !important;     
  animation: none !important; 
}

.screen-off * {
  animation: none !important;           /* Eliminar animaciones */
}

#offBtn {
    position: relative; 
    padding: 0;
}

.svg-icon {
    position: relative;
    transform: scale(1.15);
    display: block;
}


@keyframes scanline {
	0% {
		bottom: 100%;
	}
	80% {
		bottom: 100%;
	}
	100% {
		bottom: -20%;
	}
}


@keyframes tvflicker {
  0%   { box-shadow: 0 0 90px 0 rgba(23, 146, 106, 0.4); }
  20%  { box-shadow: 0 0 70px 0 rgba(23, 146, 106, 0.5); }
  40%  { box-shadow: 0 0 60px 0 rgba(23, 146, 106, 0.6); }
  60%  { box-shadow: 0 0 40px 0 rgba(23, 146, 106, 0.7); }
  80%  { box-shadow: 0 0 80px 0 rgba(23, 146, 106, 0.5); }
  100% { box-shadow: 0 0 100px 0 rgba(23, 146, 106, 0.4); }
}

@keyframes tvScreenFlicker {
  0%   { opacity: 0.7; }
  10%  { opacity: 0.75; }
  20%  { opacity: 0.78; }
  30%  { opacity: 0.82; }
  40%  { opacity: 0.76; }
  50%  { opacity: 0.79; }
  60%  { opacity: 0.85; }
  70%  { opacity: 0.72; }
  80%  { opacity: 0.75; }
  90%  { opacity: 0.78; }
  100% { opacity: 0.7; }
}

#prevBtn, 
#nextBtn {
  border: 2.5px outset #161616;
}
#offBtn {
  border: 4.5px outset #161616;
}

.giscus {
  max-height: 540px;
  overflow-y: auto;
  border-radius: 8px;
  scrollbar-width: thin !important; 
  scrollbar-color: #0f5c48 #09090B !important;  
}

.giscus-frame {
  max-height: 100%; 
  border: none;
}

/**
 * Styling for Input type=["range"]
 */
/* .chrome {
  input {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    border: solid 1px #707070;
    border-radius: 8px;
    height: 7px;
    width: 356px;
    outline: none;
    transition: background 450ms ease-in;

    -webkit-appearance: none;
  }

  input::-webkit-slider-thumb {
    background-color: white;
    border: solid 3px #707070;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
    transition: transform 0.2s ease;
  }

  input::-webkit-slider-thumb:hover {
    transform: scale(1.2);
  }

  input:focus::-webkit-slider-thumb {
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.8);
  }

  input::-moz-range-thumb {
    background-color: white;
    border: solid 3px #707070;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  input::-moz-range-thumb:hover {
    transform: scale(1.2);
  }

  input:focus::-moz-range-thumb {
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.8);
  }

  input::-ms-thumb {
    background-color: white;
    border: solid 3px #707070;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    cursor: pointer;
  }
} */

input[type="range"]::-webkit-slider-thumb {
  background-color: #F43F5E;
  border: solid 1px #F43F5E;
  border-radius: 30%;
  height: 18px;
  width: 18px;
  -webkit-appearance: none; 
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  background-color: #F43F5E; 
  border: solid 1px #F43F5E; 
  border-radius: 30%;
  height: 18px;
  width: 18px;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 11px; 
  width: 100%;
  border-radius: 5px;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); /* El fondo que ya configuraste */
}



a, button{
  cursor: url('/img/pointer.png') 16 16, pointer;
}
.container{
  
  padding: 1rem;
}
/* Pantalla de introducción */
.intro-screen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 6%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 100;
  color: white;
}
#slider-container2,
#sliderSkip-container{
  z-index: 1000 !important;
}

#volume-slider2{
  width: 18vh;
}

#start-btn,
#skip-btn{
  border: 6px outset #262626;
}
/* #skip-svg{
  width: 7rem !important;
  height: 7rem !important;
} */
/* #start-btn:hover,
#skip-btn:hover{
  border: 6px inset #363636;
} */

.intro-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 4s steps(30) 1s 1 normal both;
}

.erase {
  animation: erase 2s steps(30) forwards;
}

/* Modal donaciones */
.btn-donate-modal {
    padding: 10px 6px;
    border-radius: 6px;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
}

#coffee-img{
  border-radius: 1.5rem !important;
}
/* Contenido principal */
#profile {
  display: none;
}

.main-content {
  text-align: center;
  color: white;
}

/* Contenedor general del encabezado */
.header-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 2rem;
}

/* Imagen de perfil */
.header-container {
  position: relative;
  display: inline-block;
}

.head-img {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 100px;
  left: 6%;
  object-fit: cover;
  border-radius: 50%;
  cursor: url('/img/pointer.png') 16 16, pointer;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.head-img:hover {
  border: 1.5px outset  rgb(217, 171, 171);
  box-shadow: 0 0 20px rgb(217, 171, 171);
}

.social {
  position: absolute;
  display: flex;
  left: 352px;
  margin-top: 182px;
  gap: 1rem;
}

.social-img {
  transition: transform 0.2s ease;
}

.social-img:hover {
  transform: scale(1.2);
}

/* Rotación de imagen */
.profile-container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  animation: rotateImage 5s forwards;
}

.profile-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: opacity 0.3s ease;
 
}

.rotate {
  animation: rotateImage 0.5s forwards;
}

/* Idiomas */
.lang {
  width: 6%;
  padding: 6px;
  border-radius: 100px;
  margin: 0 auto;
  margin-top: 5px;
}

h1 {
  font-size: 3rem;
  cursor: url('/img/pointer.png') 16 16, pointer !important;
  text-shadow: 0 0 5px rgb(192 132 252);
}
.stack{
  width: 51px;
  cursor: url('/img/pointer.png') 16 16, pointer;
}
.work{
  width: 60px;
}
.icons {
  max-width: 33px;
}
/* .start-btn {
  position: absolute;
  transition: opacity 0.3s ease-out;
} */

.song-btn:hover {
  color: #fff !important;
  text-shadow: 1px 1px 1px #111 !important;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}
/* #waveform ::part(cursor):before {
  content: '💜';
} */
 #waveform, #toggle, #volume-slider, #volume-slider2, #volume-btn {
  cursor: url('/img/pointer.png') 16 16, pointer !important;
 }
#waveform ::part(region) {
  font-family: fantasy;

}

audio::-webkit-media-controls-panel {

  background-color: #a78cfa;
  color: #a78cfa;

}
audio::-webkit-media-controls{
  background-color: #a78cfa;
 
}

audio::-webkit-media-controls-play-button {
  /* background-color: #663399 ; */
  border-radius: 50%; 

}
.ask {
  display: inline-block;
  transform: rotateY(180deg) rotateX(180deg);
}
/* @media screen and (max-width: 380px){
  #header-content{
    top: -6% !important;
  }
} */
@media screen and (max-width: 820px) {
  #welcome{
    top: 17%;
  }
  .skip-btn{
    margin-bottom: 2.5rem;
  }
  h1{
    font-size: 1.5em;
    margin-top: -1%;
  }
  .stack{
    width: 50px;
  
  }
  .lang-btn{
    hover: none !important;
 
  }
  #header-subtitle{
  padding-top: 0.6rem;
  }
  #header-img .head-img {
    width: 43vw !important;
    /* width: 10.5rem !important; */
    height: auto;
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 0;
    left: 0;
    top: 3px;
  }

  .social {
    width: 75% ;
    top: 33% !important;
    left: 12.5% !important;
    padding-bottom: 6% !important;
    flex-direction: row !important;
    justify-content: space-between !important;
  }
  .social-img-i, .social-img-g{
    width: 75px !important;
    height: auto !important;
 
  }

  .header-container {
    background: transparent;
  }

  .lang {
    display: flex;
    justify-content: center;
    width: auto;
    max-width: 35%;
    padding: 7px;
    margin: 0 auto;
    margin-top: 9px;
  }

  .lang img {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }

  .social-img {
    width: 80px;
    height: 80px;
    justify-content: center !important;
  }
  .intro-text{
    font-size: 1.5rem;
  }
  .audio-player{
    display: flex !important;
    flex-direction: column !important;
  }
  .audio-controls{
    border: 3px inset #110;
    border-radius: 10px;
    padding: 2%;
    /* background-color: #101010; */
  }

 
  .f-tab{
    font-size: 0.9rem;
  }
  #whatsapp-tab p,
  #email-tab p,
  #telegram-tab p{
    display: !important;
    flex-direction: column-reverse;
    align-items: center;
  }
  .loading-spinner{
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1500px){

  #header-img .head-img {
    width: 14vw;
    height: auto;
    left: 2.5%;

  }
  .social{
    left: 22%;
    top: 22%;
  }
  .social-img-i, .social-img-g{
    width: 66px;
    height: auto;
    
  }
  .lang {
    width: 90px;
  }
  #projects{
    padding-left: 2%;
    padding-right: 2%;
  }
}


@media screen and (min-width: 1920px) {
  .social {
    left: 18%;
    top: 8.5%;
  }
}

@media screen and (min-width: 2560px) {
  .social {
    left: 14%;
    top: 7%;
  }
}

