/* Base de Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

.rateit .rateit-selected {
    color: #AA1C59 !important; 
    cursor: url('/img/pointer.png') 16 16, pointer !important;
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.9)) !important;
}
.rateit .rateit-hover {
     @apply animate-colorCycle;
    cursor: url('/img/pointer.png') 16 16, pointer !important;
}
.rateit .rateit-background {
    color: #444;
}

html, body{
  cursor: url('/img/cursor.png') 16 16, cursor !important;
  margin: 0;
  overflow-x: hidden; 
  height: 100%;
  scrollbar-width: thin; 
  scrollbar-color: #AAF8D4 #09090B;  
}

body, p, li, h1, h2, h3, h4, h5, h6, a {
  cursor: url('/img/cursor.png') 16 16, cursor !important;
}
#name{
  cursor: url('/img/pointer.png') 16 16, pointer !important;
}

@font-face {
  font-family: 'pix'; 
  src: url('/fonts/30.woff2') format('woff2'), 
       url('/fonts/30.woff') format('woff'),   
       url('/fonts/30.ttf') format('truetype');
       font-display: swap;
}

@font-face {
  font-family: 'pixel'; 
  src: url('/fonts/Minecraft.woff2') format('woff2'), 
       url('/fonts/Minecraft.woff') format('woff'),   
       url('/fonts/Minecraft.ttf') format('truetype');
       font-display: swap;
}
@font-face {
  font-family: 'pixround'; 
  src: url('/fonts/pixround.woff2') format('woff2'), 
       url('/fonts/pixround.woff') format('woff'),   
       url('/fonts/pixround.ttf') format('truetype');
       font-display: swap;
}
@font-face {
  font-family: 'gba'; 
  src: url('/fonts/gba.woff2') format('woff2'), 
       url('/fonts/gba.woff') format('woff'),   
       url('/fonts/gba.ttf') format('truetype');
       font-display: swap;
}
@font-face {
  font-family: 'poppins'; 
  src: url('/fonts/Poppins.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'orbitron'; 
  src: url('/fonts/Orbitron.woff2') format('woff2');
  font-display: swap;
}

@keyframes marquee {
  0% { transform: translateX(90%); }
  100% { transform: translateX(-90%); }
}

.marquee-text {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 12s linear infinite, colorSlow 5s ease-in-out infinite;
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
}

@keyframes ShadowSlow {
  0% { text-shadow: 0 0 9px rgba(23, 146, 106, 0.8); }
  16.67% { text-shadow: 0 0 9px rgba(249, 168, 212, 0.7); }
  33.33% { text-shadow: 0 0 5px rgba(23, 146, 106, 0.6); }
  50% { text-shadow: 0 0 9px rgba(244, 114, 182, 0.8); }
  66.67% { text-shadow: 0 0 6px rgba(23, 146, 106, 0.9); }
  83.33% { text-shadow: 0 0 3px rgba(196, 35, 113, 0.7); }
  100% { text-shadow: 0 0 1px rgba(244, 114, 182, 0.6); }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes erase {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes rotateImage {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

@keyframes loader-animation {
  100% {
    background-size: 100%;
  }
}

.loader {
  width: 48vw;
  height: 1.5rem;
  border-radius: 20px;
   background: 
    repeating-linear-gradient(135deg, #4B0082  0 10px, #10B981 0 20px) 0/0% no-repeat,
    repeating-linear-gradient(135deg, #333  0 10px, #111 0 20px) 0/100%;
  animation: loader-animation 2s infinite;
}

#monitor {
	background: linear-gradient(180deg, #3b3b3b, #262626);
	position: relative;
	border: 1px solid #222;
	margin: 5%;
	padding: 4%;
	border-radius: 7px;
	box-shadow: 
		0 0 5px rgba(0, 0, 0, 0.8),
		inset 0 0 2px rgba(255, 255, 255, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


#channel-indicator {
  animation: fade 3s step-end forwards;
  z-index: 10;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* .monitor-frame{
	box-shadow: inset 0 0 7px rgba(23, 146, 106, 0.3),
		0 0 15px rgba(23, 146, 106, 0.4);
} */

#monitorscreen {
	/* background-color: #0f5c48; */
  position: relative;
	background-color: #0e513f;
	color: #b0f2d4;
	font-family: "Courier New", Courier, monospace;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 98%;
	border-radius: 12px;
  border: 30px solid transparent;
  border-top: 30px inset #292524;
	border-left: 30px inset #44403C; 
	border-right: 30px inset #44403C; 
	border-bottom: 30px inset #222;
	text-shadow: 0 0 2px rgba(176, 242, 212, 0.8), 0 0 5px rgba(176, 242, 212, 0.6);
  
}

.yt-img{
  border-radius: 5px;
  border-top: 12px inset #292524;
	border-left: 12px inset #44403C; 
	border-right: 12px inset #44403C; 
	border-bottom: 12px inset #222;
  animation: tvScreenFlicker 6s infinite;
  animation-timing-function: ease-in-out;
}

@media all and (min-width: 924px) {
  #monitorscreen {
		animation: tvScreenFlicker 6s infinite, tvflicker 3s infinite;
    animation-timing-function: ease-in-out;
  }
  .border-msg{
    animation: tvScreenFlicker 6s infinite, tvflicker 3s infinite;
  }

}

.screen-off {
  background-color: black !important;
  color: transparent !important;        
  pointer-events: none !important;     
  animation: none !important; 
}
.screen-off * {
  animation: none !important;      
}
#offBtn {
    position: relative; 
    padding: 0;
}
.svg-icon {
    position: relative;
    transform: scale(1.15);
    display: block;
}

@keyframes scanline {
	0% {
		bottom: 100%;
	}
	80% {
		bottom: 100%;
	}
	100% {
		bottom: -20%;
	}
}

@keyframes tvflicker2 {
  0%   { box-shadow: 0 0 40px 0 rgba(173, 216, 230, 0.3); }
  20%  { box-shadow: 0 0 30px 0 rgba(135, 206, 250, 0.4); } 
  40%  { box-shadow: 0 0 25px 0 rgba(186, 216, 235, 0.5); } 
  60%  { box-shadow: 0 0 20px 0 rgba(173, 216, 230, 0.6); } 
  80%  { box-shadow: 0 0 35px 0 rgba(224, 255, 255, 0.4); }
  100% { box-shadow: 0 0 45px 0 rgba(240, 248, 255, 0.3); } 
}

@keyframes tvflicker {
  0%   { box-shadow: 0 0 90px 0 rgba(23, 146, 106, 0.4); }
  20%  { box-shadow: 0 0 70px 0 rgba(23, 146, 106, 0.5); }
  40%  { box-shadow: 0 0 60px 0 rgba(23, 146, 106, 0.6); }
  60%  { box-shadow: 0 0 40px 0 rgba(23, 146, 106, 0.7); }
  80%  { box-shadow: 0 0 80px 0 rgba(23, 146, 106, 0.5); }
  100% { box-shadow: 0 0 100px 0 rgba(23, 146, 106, 0.4); }
}

@keyframes tvScreenFlicker {
  0%   { opacity: 0.7; }
  10%  { opacity: 0.75; }
  20%  { opacity: 0.78; }
  30%  { opacity: 0.82; }
  40%  { opacity: 0.76; }
  50%  { opacity: 0.79; }
  60%  { opacity: 0.85; }
  70%  { opacity: 0.72; }
  80%  { opacity: 0.75; }
  90%  { opacity: 0.78; }
  100% { opacity: 0.7; }
}

#prevBtn, 
#nextBtn,
#channelBtn {
  border: 2.5px outset #161616;
}
#offBtn {
  border: 4.5px outset #161616;
}

.giscus {
  max-height: 540px;
  overflow-y: auto;
  border-radius: 8px;
  scrollbar-width: thin !important; 
  scrollbar-color: #0f5c48 #09090B !important;  
}

.giscus-frame {
  max-height: 100%; 
  border: none;
}

html, body{
  cursor: url('/img/cursor.png') 16 16, auto;
  margin: 0;
  overflow-x: hidden; 
  height: 100%;
  scrollbar-width: thin; 
  scrollbar-color: #AAF8D4 #09090B !important;  
  height: 100%;
}

#offBtn {
  border: 4.5px outset #161616;
}

.giscus {
  max-height: 540px;
  overflow-y: auto;
  border-radius: 8px;
  scrollbar-width: thin !important; 
  scrollbar-color: #0f5c48 #09090B !important;  
}

.giscus-frame {
  max-height: 100%; 
  border: none;
}

input[type="range"]::-webkit-slider-thumb {
  background-color: #F43F5E;
  border: solid 1px #F43F5E;
  border-radius: 30%;
  height: 18px;
  width: 18px;
  -webkit-appearance: none; 
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  background-color: #F43F5E; 
  border: solid 1px #F43F5E; 
  border-radius: 30%;
  height: 18px;
  width: 18px;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 11px; 
  width: 100%;
  border-radius: 5px;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); /* El fondo que ya configuraste */
}

a, button, summary {
  cursor: url('/img/pointer.png') 16 16, pointer !important;
}
.container{
  
  padding: 1rem;
}
/* Pantalla de introducción */
.intro-screen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 6%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 100;
  color: white;
}
#volumeSlider2,
#sliderSkip-container {
  z-index: 200 !important;
}
.menu-container,
#menu-toggle{
  z-index: 1000 !important;
}
/* #menu{
  background: #1A1A1A;
} */

#volume-slider2{
  width: 18vh;
}

#start-btn,
#skip-btn{
  border: 6px outset #262626;
}

.intro-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 4s steps(30) 1s 1 normal both;
}

.erase {
  animation: erase 2s steps(30) forwards;
}

/* Modal donaciones */
.btn-donate-modal {
    padding: 10px 6px;
    border-radius: 6px;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
}
/* #toast{
  animation: tvflicker 3s infinite;
} */

#toast{
      font-family: "Courier New", Courier, monospace;
      background-color: #0e513f;
     
    }
    #border-msg{
       border-inline: 6px inset #555; 
      border-block: 6px inset #333;
       box-shadow: inset 0 0 7px rgba(23, 146, 106, 0.3),
		  0 0 15px rgba(23, 146, 106, 0.4);
    
    }
    .yellow-btn{
      margin-left: 1px;
    }
    .brand-msg{
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    }


#coffee-img{
  border-radius: 1.5rem !important;
}
/* Contenido principal */
#profile {
  display: none;
}

.main-content {
  text-align: center;
  color: white;
}

/* Contenedor general del encabezado */
.header-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 2rem;
}

/* Imagen de perfil */
.header-container {
  position: relative;
  display: inline-block;
}

.head-img {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 120px;
  left: 6%;
  object-fit: cover;
  border-radius: 50%;
  cursor: url('/img/pointer.png') 16 16, pointer;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}

/* .head-img:hover {
  border: 1.5px outset  rgb(217, 171, 171);
  box-shadow: 0 0 20px rgb(217, 171, 171);
} */

.social {
  position: absolute;
  display: flex;
  left: 352px;
  margin-top: 15rem;
  gap: 1rem;
}

.social-img {
  transition: transform 0.2s ease;
}

.social-img:hover {
  transform: scale(1.2);
}

/* Rotación de imagen */
.profile-container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  animation: rotateImage 5s forwards;
}

.profile-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: opacity 0.3s ease;
 
}

.rotate {
  animation: rotateImage 0.5s forwards;
}

/* Idiomas */
.lang {
  width: 6%;
  padding: 6px;
  border-radius: 100px;
  margin: 0 auto;
  margin-top: 5px;
}

h1 {
  font-size: 3rem;
  /* cursor: url('/img/pointer.png') 16 16, pointer !important; */
  /* text-shadow: 0 0 5px rgb(192 132 252); */
}
.stack{
  width: 51px;
}
.work{
  width: 60px;
}
.icons {
  max-width: 40px;
}

.song-btn:hover {
  border: 3px groove;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}

/* Swiper */

.swiper {
  width: 100% !important;
  height: auto;
  margin: 0 auto;
}

.swiper-slide {
  height: auto !important;
  /* height: 39.3rem !important; */
  margin: 0 !important;
  margin-top: 3px !important;
}

.swiper-wrapper{
  width: 100% !important;
  
  scale: 0.78 !important;
}

/* Cambiar color de fondo y el icono de los botones */
.swiper-button-next,
.swiper-button-prev {
  /* color: #f43f5e !important;  */
  opacity: 0.7;
  cursor: url('/img/pointer.png') 16 16, pointer !important;
}
/* Cambiar el color de los puntos */
.swiper-pagination-bullet {
  opacity: 0.3 !important;
}
/* Cambiar el color del punto activo */
.swiper-pagination-bullet-active {
  background-color: #f43f5e !important; 
  opacity: 1 !important;
}

.project-img{
  animation-timing-function: ease-in-out;
}

/* #waveform ::part(cursor):before {
  content: '💜';
} */
 #waveform, #toggle, #volume-slider, #volume-slider2, #volume-btn {
  cursor: url('/img/pointer.png') 16 16, pointer !important;
 }
#waveform ::part(region) {
  font-family: fantasy;

}

audio::-webkit-media-controls-panel {

  background-color: #a78cfa;
  color: #a78cfa;

}
audio::-webkit-media-controls{
  background-color: #a78cfa;
 
}

audio::-webkit-media-controls-play-button {
  /* background-color: #663399 ; */
  border-radius: 50%; 

}
.ask {
  display: inline-block;
  transform: rotateY(180deg) rotateX(180deg);
}
.audio-controls{
    scrollbar-width: thin !important; 
    scrollbar-color: #977cef #09090B !important; 
}

.custom-list {
  list-style: none;
}

.custom-list li::before {
  content: "➤"; /* Puedes reemplazar "➤" por el símbolo que prefieras o incluso usar una imagen */
  color: #38b2ac; /* Color teal, por ejemplo */
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  margin-right: 0.5em;
}



@media screen and (max-width: 712px) {
  .swiper-wrapper{
    scale: 0.99 !important;
  }
  .swiper-slide{
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
    /* height: auto !important; */
  }
   .swiper-container{
    padding-bottom: 3rem !important;
   }
  #toast{
    min-width: 100vw;
  
  }
}
@media screen and (max-width: 820px) {
  .swiper-button-next,
  .swiper-button-prev{
    display: none !important;
  }
  
  #welcome{
    top: 17%;
  }
  .skip-btn{
    margin-bottom: 2.5rem;
  }
  h1{
    font-size: 1.5em;
    margin-top: -1%;
  }
  .lang-btn{
    hover: none !important;
 
  }
  #header-subtitle{
  padding-top: 0.6rem;
  }
  #header-img .head-img {
    width: 43vw !important;
    /* width: 10.5rem !important; */
    height: auto;
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 0;
    left: 0;
    top: 3px;
  }

  .social {
    width: 75% ;
    top: 5% !important;
    left: 12.5% !important;
    padding-bottom: 6% !important;
    flex-direction: row !important;
    justify-content: space-between !important;
  }
  .social-img-i, .social-img-g{
    width: 75px !important;
    height: auto !important;
 
  }

  .header-container {
    background: transparent;
  }

  .lang {
    display: flex;
    justify-content: center;
    width: auto;
    max-width: 35%;
    padding: 7px;
    margin: 0 auto;
    margin-top: 9px;
  }

  .lang img {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }

  .social-img {
    width: 80px;
    height: 80px;
    justify-content: center !important;
  }
  .intro-text{
    font-size: 1.5rem;
  }
  .audio-player{
    display: flex !important;
    flex-direction: column !important;
  }
  .audio-controls{
    border: 3px ridge #333;
    border-radius: 10px;
    padding: 2%;
  }
 
  .f-tab{
    font-size: 0.9rem;
  }
  #whatsapp-tab p,
  #email-tab p,
  #telegram-tab p{
    display: !important;
    flex-direction: column-reverse;
    align-items: center;
  }
  .loading-spinner{
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1500px){

  #header-img .head-img {
    width: 14vw;
    height: auto;
    left: 2.5%;

  }
  .social{
    left: 22%;
    top: 22%;
  }
  .social-img-i, .social-img-g{
    width: 66px;
    height: auto;
    
  }
  .lang {
    width: 90px;
  }
  #projects{
    padding-left: 2%;
    padding-right: 2%;
  }
}


@media screen and (min-width: 1920px) {
  .social {
    left: 18%;
    top: 8.5%;
  }
}

@media screen and (min-width: 2560px) {
  .social {
    left: 14%;
    top: 7%;
  }
}

